<p id="notice"><%= notice %></p>

<p>
  <strong>Nome medicamento:</strong>
  <%= @pedido.nome_medicamento %>
</p>

<p>
  <strong>Qtd medicamento:</strong>
  <%= @pedido.qtd_medicamento %>
</p>

<p>
  <strong>Pagamento:</strong>
  <%= @pedido.pagamento %>
</p>

<p>
  <strong>Status:</strong>
  <%= @pedido.status %>
</p>

<%= link_to 'Edit', edit_pedido_path(@pedido) %> |
<%= link_to 'Back', pedidos_path %>
